@import "tailwindcss";

@theme {
	--color-primary: #3b82f6;
	--color-secondary: #6366f1;
	--color-success: #22c55e;
	--color-danger: #ef4444;
	--color-warning: #facc15;
	--color-muted: #6b7280;

	--color-bg: #f9fafb;
	--color-surface: #ffffff;
	--color-border: #e5e7eb;
	--color-text: #111827;

	--font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
		"Noto Color Emoji";
	--font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
	--font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

	--font-poppins: Poppins, sans-serif;
}
